* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("bg.svg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.auth-card {
    width: 400px;

    background: white;

    padding: 40px;

    border-radius: 18px;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.25);
}

.logo {
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.input-group input {
    width: 100%;

    padding: 13px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 15px;

    outline: none;
}

.input-group input:focus {
    border-color: #333;
}

.auth-button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #222;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

.auth-button:hover {
    opacity: 0.85;
}

#message {
    text-align: center;
    margin-top: 18px;
    min-height: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.switch-page {
    text-align: center;
    margin-top: 25px;
    color: #666;
}

.switch-page a {
    color: #222;
    font-weight: bold;
    text-decoration: none;
}